{:app/title "電車 TODO"
 :app/description "タスクを効率的に管理"
 :auth/login "ログイン"
 :auth/welcome "{name}さん、ようこそ！"
 :todos/title "マイタスク"
 :todos/count {:select :count
               :other "{count} 件のタスク"}
 :actions/save "保存"
 :actions/cancel "キャンセル"}
